@import url(https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk","Kanit", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15vw auto 20em;
    grid-template-areas: 
    'nav nav ma ma ma'
    'as as ma ma ma'
    'ft ft ft ft ft'
    ;
    background: white;
    min-height: 100vh;
}
nav {
    grid-area: nav;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    letter-spacing: 0.04vw;
    padding-left:3vw;
    padding-top:3vw;
    padding-bottom: 1vw;
    font-size: xx-large;
    font-weight: 900;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color:white;
    background-color: black;
}
main {
    background-color: rgba(255, 255, 255, 0);
    padding:1vw;
    margin:1vw;
    margin-top:5vw;
    grid-area: ma;
}
.thework{
    display:flex;
    flex-wrap: wrap;
    padding:1vw;    
    margin-top:1vw;
    background-color: rgba(255, 255, 255, 1);
}
.thework div {
    width:25vw;
    height:fit-content;
}



#toptext {
    margin-left: 5vw;
    font-size: x-large;
    font-weight: 600;
}
body:has(.digital:hover) #digital-hidden{
    display:block;

}
body:has(.granssnitt:hover) #grans-hidden{
    display: block;
}
body:has(.stupid:hover) #stupid-hidden{
    display: block;
}
body:has(.webdesign:hover) #web-hidden{
    display: block;
}
body:has(.aboutme:hover) #collage-hidden{
    display: block;
}
#storm {
    object-fit: cover;
    height:634px;
    width:100%;
    padding:1vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(75, 75, 75, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}
#storm:hover {
    box-shadow: 0 5px 15px rgba(75, 75, 75, 0.15);
}
#grans {
    object-fit: cover;
    height:634px;
    width:100%;
    padding:1vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(75, 75, 75, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}
#grans:hover {
    box-shadow: 0 5px 15px rgba(75, 75, 75, 0.15);
}
#webb {
    object-fit: cover;
    height:634px;
    width:100%;
    padding:1vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(75, 75, 75, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}
#webb:hover {
    box-shadow: 0 5px 15px rgba(75, 75, 75, 0.15);
}
#stupid {
    object-fit: cover;
    height:634px;
    width:100%;
    padding:1vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(75, 75, 75, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}
#stupid:hover {
    box-shadow: 0 5px 15px rgba(75, 75, 75, 0.15);
}
aside {
    border:solid white 1vw;
    position:-webkit-sticky;
    position:sticky;
    margin:auto;
    height:auto;
    margin-top:1vw;
    grid-area: as;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    top:0;
}
#collage {
    object-fit: cover;
    height:634px;
    width:100%;
    padding:1vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px rgba(75, 75, 75, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}
#collage:hover {
    box-shadow: 0 5px 15px rgba(75, 75, 75, 0.15);
}
#collage-hidden {
    margin:1vw;
    display: none; 
}
#digital-hidden {
    margin:1vw;
    display: none;
}
#grans-hidden {
    margin:1vw;
    display: none;
}
#web-hidden {
    margin:1vw;
    display: none;
}
#stupid-hidden {
    margin:1vw;
    display: none;
}

footer {
    grid-area: ft;
    background-color: rgb(0, 0, 0);
    color: white;
    padding:5vw;
    text-align: center;
}
#insta {
    max-width:30%;
}
#ball {
    background-color:rgb(255, 0, 0);
    width:3em;
    height:3em;
    border-radius:50%;
    transition:0.7s;
}
#ball.active {
    background-color:rgb(0, 0, 0);
    width:3em;
    height:3em;
    border-radius:10%;
    transition:0.7s;
}
#troll {
    transition:0.7s;
}
#troll.active {
    display: none;
    transition: 0.7s;
}
@media screen and (max-width:1000px) {

nav {
    font-size: x-large;
}

body {
    grid-template-rows: 10% auto 20vw;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}
.digital {
    flex-basis: 100%;
}
.granssnitt {
    flex-basis: 100%;
}
.webdesign {
    flex-basis: 100%;
}
.stupid {
    flex-basis: 100%;
}

nav a:hover {
    color:black;
    background-color: white;
}
.aboutme {
    flex-basis: 100%;
}
footer {
    height:30rem;
}
#instabox {
    display:none;
}



}
